form#dodanie-sprawy{
	display: flex;
	flex-direction: column;
}

form#dodanie-sprawy>div#cel-container {
	display: grid;
	grid-template-columns: 45% 45%;
	column-gap: 80px;
	row-gap: 10px;
}

form#dodanie-sprawy>div#cel-container>div#cel {
	display: grid;
	column-gap: 80px;
	row-gap: 2px;
	margin: 10px;
}


form#dodanie-sprawy > div > div > div{
	display: grid;
	column-gap: 80px;
	row-gap: 2px;
	margin: 10px;
}

form#dodanie-sprawy > div > div > div input,
form#dodanie-sprawy > div > div > div select {
	margin-bottom: 10px;
}

form#dodanie-sprawy > div > div > div > div.data-checkbox {
	display: inline-block;
	margin-right: 10px;
	border: 2px solid black;
	width: 17px;
	height: 17px;
	box-sizing: border-box;
}

form#dodanie-sprawy>div>div>div.checkbox-header{
	display: block;
}

div.data-checkbox input{
	vertical-align: text-top;
}

h2.relative{
	display: inline-block;
	margin: 0;
}

div.kontener-dodanie-sprawy {
	display: grid;
	grid-template-columns: 45% 45%;
	column-gap: 80px;
	row-gap: 10px;
}

div.kontener-dodanie-sprawy>div {
	display: flex;
	flex-direction: column;
}

div#plec {
	margin-bottom: 10px;
}

div#plec input#mezczyzna,
div#plec input#kobieta {
	margin: 0;
}

div#plec label {
	margin-right: 20px;
}

div#przyciski-zatwierdzajace {
	display: flex;
	justify-content: center;
}

div#przyciski-zatwierdzajace input {
	width: 180px;
	margin: 10px;
}
