form {
    margin-top: 10px;
}

form input:not([type="checkbox"]):not([type="submit"]), select{
    width: 70%;
    margin: 10px;
    font-size: 18px;
}

.kontener-generowanie-raportu {
    width: 80%;
}

#wybrane-placowki-generowanie-raportu {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

#wybrane-placowki-generowanie-raportu input{
    margin: 10px;
}

#wybor-placowek-generowanie-raportu h3 {
    margin: 20px 0 5px 0;
}

button{
    width: 30%;
    margin: 4px;
}

form#generowanie-raportu {
	display: grid;
	column-gap: 80px;
	row-gap: 2px;
	margin: 10px;
}

form#generowanie-raportu select, 
form#generowanie-raportu input {
	margin: 0;
	margin-bottom: 10px;
}

form#generowanie-raportu input[type="submit"] {
	width: 200px;
	margin: 20px 0;
}



