div.container {
	width: 80%;
	display: flex;
	flex-direction: column;
}

div.container > div {
	margin: 10px;
}


div.container > div:last-child {
	margin-top: 30px;
	align-self: center;
}

form {
    display: grid;
    grid-template-columns: 175px 175px;
    column-gap: 20px;
    row-gap: 10px;
    margin: 10px;
}



form.inline-form{
	display: inline-block;
	width: fit-content;
}

form.inline-form input {
	width: 180px;	
}

#wyszukaj-zarzadzanie-sprawami, #wyczysc-zarzadzanie-sprawami {
    width: 400px;
    margin-top: 30px;

}

#wyszukane-sprawy-zarzadzanie-sprawami, #wyszukane-sprawy-zarzadzanie-sprawami button, #wyszukane-sprawy-zarzadzanie-sprawami td{
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

.wyswietl-zarzadzanie-sprawami, .edytuj-zarzadzanie-sprawami {
    width:60px;
}

#dodaj-sprawe-zarzadzanie-spraw{
    width: 400px;
    display:flex;
    margin-left: auto;
    margin-right: 0;
    justify-content: center;
}

table#wyszukane-sprawy-zarzadzanie-sprawami form{
	display: block;
	margin: 0;
}

table#wyszukane-sprawy-zarzadzanie-sprawami form input[type="submit"] {
	min-width: 70px;
	font-size: 10px;
}

i.fas {
	font-size: 20px;
	margin: 5px;
}

h2{
	margin: 30px 0;
}

p#paginacja{
	color: black;
}

p#paginacja > * {
	margin: 3px;
}
