form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#drag-and-drop {
    margin: 20px;
	display: grid;
	column-gap: 80px;
	row-gap: 2px;
	margin: 10px;
}
 
div#drag-and-drop select,
div#drag-and-drop input {
	margin-bottom: 15px;
}
