form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.inside-container {
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 70%;
    row-gap: 10px;

}