:root {
    --main-font-family: 'Muli', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);

}

body{
    top: 0;
    background-color: #2F3854;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.container{
    background-color: white;
    width: 70%;
    padding: 5%;
    border: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h1{
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(47, 56, 84, 0.363);

}

h2{
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(47, 56, 84, 0.363);


}

button,
input[type=submit],
input[type=reset],
input[type=file] {
    height: 35px;
    min-width: 180px;
    padding: 0 5px;
    font-size: 18px;
    background-color: #7389CD;
    color: white;
    border:none;
    box-shadow: 2px 2px 4px rgba(47, 56, 84, 0.363);
    text-shadow: 2px 2px 4px rgba(47, 56, 84, 0.363);
    border-radius: 3px;

}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=file]:hover{
    background-color: rgba(115, 138, 205, 0.767);
}

select,
input[type="text"],
input[type="date"],
input[type="number"]{
    height: 30px;
    padding: 0 5px;
}

textarea {
	resize: none;
	padding: 5px 5px;
    font-size: 13px;
}

/* stylowanie tabel */
table{
    border: 1px solid rgba(0, 0, 0, 0.432);
    border-collapse: collapse;
	margin: 10px 0;
    font-size: 14px;

}

table thead{
    background-color: rgb(224, 232, 255);

}

table td{
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 10px;
}

table thead {
    font-weight: bold;
    text-align: center;
}


.error-message {
	position: relative;
	bottom: 10px;
	margin-left: 0 !important;
	color: crimson;
	font-size: 0.9rem;
}

form#dodawanie-form {
	margin: 20px 0;
	display: grid;
	grid-template-columns: 20% 30%;
	row-gap: 5px;
}

div.container > div {
	margin: 50px 30px;
}

form#cofnij-form{
	display: block;
}

form#cofnij-form input {
	width: 180px;
}

form.inline-form {
	display: inline-block;
	margin: 10px;
}

form.inline-form input {
	width: 250px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.komunikat-brak {
    text-align: center;
    font-size: large;
    padding: 15px;
    border-color: #DC464A;
    border: solid 1px;
    border-radius: 6px;
    background-color: #FFBFC1;
    color: #DC464A;
    margin-bottom: 30px;
    margin-top: 30px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 0;
    padding: auto;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    font-style:italic;
    background-color: rgb(99, 125, 204);
    text-align: center;
    vertical-align: middle;
    text-shadow: 4px 4px 5px rgba(38, 46, 70, 0.5);
    
}
