

form {
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 80px;
    row-gap: 10px;
    margin: 10px;

    
}
form label, form input, select{
    /*width: 200px;*/

}

#wyszukanie-profilu {
    border: solid 1px;
    padding: 10px;
    border-radius: 6px;
}

#wyszukane-profile {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    margin-top:0;
}

.kontener-przegladanie-sprawy {

    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 80px;
}
#kontener-przegladanie-sprawy button{
    width: 190px;
    margin: 5px;

}

#przyciski-przegladanie-sprawy button{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#decyzje-przegladanie-sprawy{
    width: 80%;
}
